extends layout

block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  form(id='roseForm', action="/resource/rose", method="POST")
   div.form-group
     label.roseAttr(for='Rose_color') Rose color
     input#Rose_color(type='text', name='Rose_color')
   div.form-group
     label.roseAttr(for='Rose_size') Rose size
     input#Rose_length(type='number', name='Rose_length')
   div.form-group
     label.roseAttr(for='Rose_cost') Rose cost
     input#Rose_cost(type='number', name='Rose_cost')
   input(type="submit")

  script.
   document.forms['roseForm'].addEventListener('submit', (event) => {
    event.preventDefault();
   // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'POST',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
     alert("Save failed " + error )
    });
   });